
html, body{
    height: 100%;
    background-color:#009688;
    background: linear-gradient(-135deg, #009688, #3fb5c4);
}


#landing{
    color: #fff;
    height: 100vh;
    display: flex;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes fadein {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

#landing .landing-box{
    flex:0 1 auto;
    margin:auto;
}

.landing-title {
}

.landing-title h1{
    font-size: 45px;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.15);
}

.landing-body{
    padding: 20px 0;
    font-size: 14px;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}

.landing-btn{
    border-color: white;
    background-color: transparent;
    color: white;
}

.landing-btn:visited{
    background-color: transparent;
    color: white;
}

.landing-btn:hover{
    background-color: transparent;
    color: white;
    transition: 0.25s;
    transform: scale(1.05);
}